@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

body, html {
    font-family: 'ABeeZee' , sans-serif;
    background-color: #d53c6e03;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.container {
    width: 85%;
}

/* -- navbar-- */

.brand-logo {
    font-size: 3em;
}

.logo-nav {
    margin-bottom: 1em;
    margin-top: 1em;
}

.nav-links {
    font-size: 1.25em;
}

@media only screen and (max-width: 600px){
html {
    font-size: 12px;
}
}   

/* -- modal messages --*/

.modal {
    color: #0d47a1;
    text-shadow: none;    
}

/*-- flash message --*/

.flashes h4 {
    line-height: 2;   
}

.flashes {
    color: #0d47a1;
}

/*-- text colors --*/

#book_title,
#book_author, #angel_name {
    text-transform: capitalize;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)
}

.register {
    color: #0d47a1 ;
}

.slogan {
    color: #0d47a1 ;
    margin-bottom: 1.2em;
}

.book-details {
    color: #01579b;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}

.label_details{
    color: #ffab40 ;
}

.book-info {
    color: #ef6c00 ;
}

.review-by {
    color: #0288d1 ;
    font-size: 1em;  
    background-color: #66bb6a14;
    margin-top: 7px;
    border-radius: 1.5em;
    padding: 6px;     
}

.book-review {
    color: #f57c00  ;
}

/*-- buttons --*/

.btn-small {
    margin: 5px;
}

.btn-large, .btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

/*-- collapsible --*/

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.collapsible-body {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0px;    
}

img {
    height: 8em;
    width: 8em;
}

/*-- footer --*/

.page-footer{
    margin-top: 5em;    
}

.footer-about {
    font-size: 1.25em;
}

.fab {
    color: white;
    font-size: 2em;
    padding: 0.5em;
}

.fa-thumbs-up {
    font-size: 2em;
}
