{% extends "base.html" %}
{% block content %}

    <h3 class="center-align register">Add Book</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_book') }}" enctype="multipart/form-data"> 

            <!-- book title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix blue-text text-accent-3"></i>
                    <input placeholder="Please add book title" id="book_title" name="book_title" 
                        minlength="2" maxlength="100" pattern="^[a-zA-Z]{2,100}$" 
                        type="text" class="validate" required>
                    <label for="book_title">Title of Book</label>
                </div>
            </div>

            <!-- book author -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix blue-text text-accent-3"></i>
                    <input placeholder="if applicable" id="book_author" name="book_author" minlength="2" 
                        maxlength="30" type="text" class="validate">
                    <label for="book_author">Author</label>
                </div>
            </div>

            <!-- book description -->
            <div class="row">  
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix blue-text text-accent-3"></i>                                          
                    <textarea placeholder="max of 500 characters" id="book_review" name="book_review" 
                        minlength="5" maxlength="500" pattern="^[a-zA-Z0-9]{5,500}$" 
                        class="materialize-textarea validate" required>
                    </textarea>
                    <label for="book_review">What makes it a Fun Book</label>                   
                </div>
            </div>

            <!-- fun meter -->
             <div class="row">  
                <div class="input-field col s12">
                    <i class="fas fa-smile prefix blue-text text-accent-3"></i>                                                 
                    <input placeholder="1-lowest to 5-highest" id="fun_meter" name="fun_meter" 
                        minlength="1" type="text" maxlength="1" pattern="^[0-5]{1,1}$" 
                        class="validate" required>
                    <label for="fun_meter">Fun Meter</label>                   
                </div>
            </div>
            
            <!-- date posted picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix blue-text text-accent-3"></i>
                    <input placeholder="Please add date" id="date_posted" name="date_posted"
                        type="text" class="datepicker validate" required>
                    <label for="date_posted">Date Posted</label>
                </div>
            </div>            

            <!-- do you recommend toggle -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-thumbs-up prefix blue-text text-accent-3"></i> 
                        <label for="is_recommended">                        
                            <input type="checkbox" id="is_recommended" name="is_recommended" >
                            <span class="lever"></span>
                            Do you recommend?
                        </label>
                     </div>
                </div>
            </div>

            <!-- adding image of book -->
            <p class="register">Please share a photo of your book:</p>            
            <div class="btn orange white-text text-darken-4 text-shadow col s12 left-btn">                
                <input type="file" class="file validate" accept="image/*" name="photo_url" id="photo_url" required>
            </div>
            
            <!-- add book button -->
            <div class="row">
                <div class="col s12 center-align">
                     <a href="{{ url_for('get_books') }}" class="btn-large green text-shadow">
                        C a n c e l <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Book&nbsp<i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>        

{% endblock %}