{% extends 'base.html' %}
{% block content %}

<!-- Adding a feedback section -->
  
    <div class="container">
        <form method="POST" action="{{ url_for('add_review', book_id=book._id) }}">
            <div class="row">
                <div>
                    <label for="user_review">Please add your review.</label>
                    <textarea class="form-control" id="user_review" name="user_review" minlength="5" maxlength="300" rows="5" required></textarea>
                                   
                </div>                                                                
                
                <a href="{{ url_for('get_books') }}" class="btn-large red text-shadow">
                    Cancel Review<i class="fas fa-times-cicle right"></i>
                </a>

                <button type="submit" class="btn-large orange accent-3 text-shadow">
                    Add Review <i class="fas fa-plus-square right"></i>
                </button>

            </div>
        </form>
    </div>

{% endblock %}