{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align register">All Books</h3>

    <ul class="collapsible popout">
        {% for book in books %}
        <li>
            <div class="collapsible-header white-text orange accent-3 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == book.fun_viewed|lower %}
                        <a href="" class="btn-small green accent-4">Remove Book</a>
                        <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-small light-blue accent-4">Edit Book</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ book.book_title }}</strong>
                    {% if book.is_recommend == "on" %}
                        <i class="fas fa-thumbs-up light-blue-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="Recommended"></i>
                    {% endif %}
                </div>
               
            </div>            
            <div class="collapsible-body">
                <p>Author: <span>{{ book.book_author }}</span></p>                
                <p>What makes it a Fun Book: <br>{{ book.book_review }}</p>
                <p>Fun Meter: <span>{{ book.fun_meter }}</span></p>
                <p>Date Posted: <span>{{ book.date_posted }}</span></p>      
                <p><em> FunViewed by: {{ book.fun_viewed }}</em></p>          
            </div>
        </li>        
        {% endfor %}
    </ul>

{% endblock %}