{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align slogan">These are the books recommended <br> by our little angels.<br> </h3>

    <!-- creating a search for all books -->   
    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m12">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Books/Author</label>
                    <a href="{{ url_for('get_books') }}" class="green btn text-shadow">                         
                        R e s e t<i class="fas fa-undo left"></i>
                    </a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">                        
                        Search<i class="fas fa-search left"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>    

    <!-- collapsible books display -->
    {% if books|length > 0 %}
    <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header orange white-text text-darken-4 text-shadow">

                <!-- adding image of book -->
                <div class="hide-on-small-only">
                    <i class="fas fa-caret-down"></i>                
                </div>
                <div class="col s8">
                    <img class="card-images" src="{{ book.photo_url }}" alt="book-picture">
                </div>

                <div class="col s4">                   

                    <!-- adding remove and update book functionality -->                   
                    {% if session.user|lower == book.username|lower %}                        
                        <a href="#remove{{ loop.index }}" 
                            class="btn-small green waves-effect waves-light modal-trigger">
                            Delete 
                        </a>
                        
                        <a href="{{ url_for('edit_book', book_id=book._id) }}" 
                            class="btn-small light-blue accent-4">
                            Update 
                        </a>

                        <!-- modal body for removing a book -->
                        <div id="remove{{ loop.index }}" class="modal">
                            <div class="modal-content">
                                <h3 class="center-align">Delete Book</h3>
                                <p class="center-align">Are you sure you want to remove this book?</p>         
                            </div>
                            <div class="row">
                                <div class="col s6 center-align">
                                    <a href="{{ url_for('remove_book', book_id=book._id) }}" 
                                        class="btn-small green accent-4 waves-effect waves-light">
                                    Delete
                                    </a>
                                </div>
                                <div class="col s6 center-align">
                                    <a href="{{ url_for('get_books') }}" 
                                        class="modal-close btn waves-light waves-effect btn light-blue">
                                    Cancel
                                    </a>
                                </div>
                            </div>
                        </div>                        
                    {% endif %}

                </div>
                             
            </div>

            <!-- adding other details of the book -->            
            <div class="collapsible-body">
                <h3 class="light-blue-text text-darken-4">
                    <strong>{{ book.book_title|capitalize }}</strong>
                </h3>
                <p class="book-details">Author: <span class="book-info">
                    {{ book.book_author|capitalize }}
                </span></p>                
                <p class="book-details">What makes it a Fun Book:
                    <br><span class="book-info">{{ book.book_review }}</span>
                </p>
                <p class="book-details">Fun Meter: 
                    <span class="book-info">{{ book.fun_meter }}</span>
                </p>
                <p class="book-details">Date Posted: 
                    <span class="book-info">{{ book.date_posted }}</span>
                </p>      
                <p class="book-details"><em> Added by: 
                    <span class="book-info">{{ book.username }}</span></em>
                </p>          
                
                <hr>

                <!-- adding a review of the books --> 
                <div class="row ">
                <h5 class="light-blue-text text-darken-4"><u> Comments/Feedback:</u></h5>             
                    {% if session.user %}                        
                        {% for reviews in review %}     
                            {% if reviews.title==book.book_title %}
                                           
                            <div class="review-by"> 
                                <p>Reviewed by:<span class="book-review"> 
                                    {{ reviews.username }} </span>
                                </p>
                                <p>Book Review:<span class="book-review">
                                    {{ reviews.user_review }} </span>
                                </p>
                            </div>                               
                            
                            {% if reviews.username==session.user %}
                                <a href="#delete{{ loop.index }}" 
                                    class="btn-small green accent-4 waves-effect waves-light modal-trigger">
                                    Delete Review
                                </a>
                                <a href="{{ url_for('update_review', review_id=reviews._id) }}" 
                                    class="btn-small waves-light waves-effect btn light-blue modal-trigger">
                                    Update Review
                                </a>

                                <!-- modal body for removing a review -->
                                <div id="delete{{ loop.index }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Are you sure you want to delete your review?</h4>                                
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ url_for('remove_review', review_id=reviews._id) }}" 
                                            class="btn-small green accent-4 waves-effect waves-light">
                                            Delete
                                        </a>
                                        <a href="#!" class="modal-close btn waves-light waves-effect blue">Cancel</a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}                             
                        {% endfor %}   
                        
                            <!-- add a review button -->
                            <a href="{{ url_for('add_review', book_id=book._id) }}" 
                                class="modal-close btn waves-light waves-effect btn light-blue" type="submit">
                                Add a Review
                            </a>                        
                    {% endif %}
                </div>
            </div>
        </li>        
        {% endfor %}
    </ul>
    {% else %}
        <h4 class="red-text center-align register">No Results Found</h4>
    {% endif %}

{% endblock %}