{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!-- displays profile details -->
            <div class="card-panel">                       
                <h3 class="center-align light-blue-text text-darken-4">
                    Little Angel's Name:<br>
                    {{ angel_name }}
                </h3>
                <h3 class="center-align light-blue-text text-darken-4">
                    Age: <br>
                    {{ angel_age }}
                </h3>

                <!-- to delete a profile -->
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                       | <a href="#delete-profile" class="modal-trigger">
                        DELETE PROFILE
                        </a>|
                    </div>
                </div>
            </div>
        </div>


            <!-- displays reviewed books -->
            <h3 class="center-align register">Books Reviewed</h3>

            <ul class="collapsible">
            
                <li>
                    <div class="collapsible-header white-text orange accent-3 text-shadow"> 
                            
                        <h3 class="center-align light-blue-text text-darken-4">
                            {{ book_title }} by:<span> {{ book_author }}</span>
                        </h3>                                   
                        
                    </div>

                    <div class="collapsible-body">
                        <h3 class="center-align light-blue-text text-darken-4">
                            {{ book_review }}
                        </h3>
                        <h3 class="center-align light-blue-text text-darken-4">
                            {{ is_recommend }}
                        </h3>
                        <h3 class="center-align light-blue-text text-darken-4">
                            {{ date_posted }}
                        </h3>                       
                        
                    </div>
                </li>
                
            </ul>
        </div>
    </div>



    <!-- modal to delete account -->
    <div id="delete-profile" class="modal delete-modal">
        <div class="modal-content">
            <h3 class="center-align">Delete Profile</h3>
            <p class="center-align">Are you sure you want to delete your account?</p>
            <p class="center-align">All of your data will be lost.</p>
            
            <div class="row">
                <div class="col s6 center-align">
                    <a class="btn waves-light waves-effect yellow"
                        href="{{ url_for('delete_profile', critics_id=username) }}">
                    DELETE
                    </a>
                </div>
                <div class="col s6 center-align">
                    <a href="#!" class="modal-close btn waves-light waves-effect btn blue">
                    CANCEL
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}