{% extends "base.html" %}
{% block content %}

<h3 class="center-align register">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus light-blue-text prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock light-blue-text prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <!-- little angel's name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-child light-blue-text prefix"></i>
                    <input id="angel_name" name="angel_name" type="text" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z]{5,20}$" class="validate" required>
                    <label for="angel_name">Little Angel's Name</label>
                </div>
            </div>

            <!-- little angel's age -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hashtag light-blue-text prefix"></i>
                    <input id="angel_age" name="angel_age" type="text" minlength="0" 
                        maxlength="2" pattern="^[0-9]{0,2}$" class="validate" required>
                    <label for="angel_age">Little Angel's Age</label>
                </div>
            </div>

            <!-- register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large orange accent-3 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>

        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align register">
            Already Registered?
            <a href="{{ url_for('login') }}" class="orange-text">Log In</a>
        </p>
    </div>
</div>

{% endblock %}